In [1]:
import pandas as pd

In [12]:
#ANSWER 1;

In [3]:
 df=pd.Series([4,8,15,16,23,42],index=[1,2,3,4,5,6])

In [4]:
df

1     4
2     8
3    15
4    16
5    23
6    42
dtype: int64

In [ ]:
#ANSWER 2:

In [7]:
varr=pd.Series(['sachin','kumar','golu','singh','pradip','navin','rahul','raushan','nitish','videsh'],index=[1,2,3,4,5,6,7,8,9,10])

In [8]:
varr

1      sachin
2       kumar
3        golu
4       singh
5      pradip
6       navin
7       rahul
8     raushan
9      nitish
10     videsh
dtype: object

In [ ]:
#ANSWER 3:

In [9]:
data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}

In [10]:
df=pd.DataFrame(data)

In [11]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [14]:
#ANSWER 4:

"""Series have only a top level name, dataframes have a top level and a column name. That can lead to significant differences in syntax for processing/creating a new series vs a new column."""

df=pd.Series([4,8,15,16,23,42],index=[1,2,3,4,5,6])
data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df=pd.DataFrame(data)

In [15]:
# ANSWER 5:
#removing special charactor
#converting all text to lowercase
#removing stop word

In [17]:
#ANSWER 6:
#Panel

In [ ]:
# ANSWER 7: